.third-level-menu
{
    position: absolute;
    top: 10px;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #f8c614;
}
.third-level-menu > li:hover { background: #eedb7d; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: -20px;
    width: 253px;
    list-style: none;
    padding: 25px;
    margin: -2px;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #1f96ea;
}
.second-level-menu > li:hover { background: #5587b2; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 50px;
}

.top-level-menu > li
{
    
    text-align: center;
    position: relative;
    float: left;
    height: 50px;
    width: 253px;
    padding: 0px;
    background: #09397d;
}
.top-level-menu > li:hover { background: #5587b2; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }

@media (max-width: 1200px) {
    .container {
      padding: 0 3rem;
    }
  }
  
  @media (max-width: 1200px) {
    .top-level-menu li {
      width: 139.5px;
      height: 40px;
      font-size: 2px;
    }
}